<p id="notice"><%= notice %></p>

<div class="list_users">
	<p>
	  <strong>Nombre:</strong>
	  <%= @user.nombre %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @user.email %>
	</p>
</div>
<div class= "buttons">
	<%= link_to 'Edit', edit_user_path(@user) %> 
	<%= link_to 'Back', users_path %>
</div>
