<div class="post_form">
  <%= form_for(@post, url: post_form_url(@post)) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_field :title, placeholder: "Your post title", id: "post_title" %>
    <%= f.submit "✓", id: "save_post_button" %>

    <%= f.text_area :body, id: "post_body", placeholder: "Your post body" %>

    <div id="rendered_post_body">
    </div>

    <div class="actions">
      <%= f.submit "Save" %>
    </div>
  <% end %>
</div>

<div id="image_editor_footer">
</div>
