<div class="post_form">
  <%= form_for(@post, url: post_form_url(@post)) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_field :title, class: "post_title" %>

    <%= f.text_area :body, class: "post_body" %>

    <div class="rendered_post_body">
    </div>

    <div class="actions">
      <%= f.submit "Save" %>
    </div>
  <% end %>
</div>
